// Body
$body-bg: #f8fafc;

$bg-black:rgba(17,17,17,.75);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$app_primary:#0d6efd;



:root {
    --clr-theme-1: #0d6efd;
}


.btn-primary {
    background-color: #0d6efd;
}

.glo-header-area.glo-header-3 .glo-header-bottom.sticky {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}
.glo-header-area.glo-header-3 .glo-header-bottom.sticky .main-menu>nav>ul>li>a {
    color: #111;
}
