.error-booking-form{
    color:rgb(222, 89, 22)
}
.booking-form .form-control{
    height: 60px;
    background-color: transparent;
    color: #fff;
}
.booking-form .form-control:focus{

    background-color: transparent;
    color: #fff;
}
.glo-reservation-select {
    height: 60px !important;
}
