@media (max-width: 575px),
only screen and (min-width: 576px) and (max-width: 767px) {
.glo-header-logo img {
    max-width: 3.5rem;
    height: 2rem;
}
}

.glo-header-logo img {
    max-width: 4rem;
    // height: 2rem;
}

.app-logo{
    width: 100px;
        height: 50px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
}
