.special-select .nice-select span {
    font-weight: 400;
    line-height: 60px;
    height: 60px;
    display: inline-block;
    color: #000;
}

.booking-step {
    margin-bottom: 5rem;
}

.reservation-bottom{
    position: fixed;
        bottom: 0;
        /* Start with the sheet hidden */
        left: 0;
        right: 0;
        z-index: 1050;
        /* Ensure it appears above other content */
        background-color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: bottom 0.3s ease-in-out;
        height: 8rem;
        overflow: scroll;
}

